.alert-error {
	background-color: #f8d7da;
	color: #58151c;
	padding: 15px;
	font-weight: 500;
	border-radius: 5px;
	text-align: center;
}
.alert-success {
	background-color: #d1e7dd;
	color: #0a3622;
	padding: 15px;
	font-weight: 500;
	border-radius: 5px;
	text-align: center;
}
